*.pyc
*.ipynb_checkpoints
*cache*
output
.doit*db
blog/themes/

# LaTeX
blog/cv/*.aux
blog/cv/*.log
blog/cv/*.pdf
blog/cv/*.out

# ipynb exports
*.slides.html

# text files for the Holmes post
blog/posts/holmes

# vim swap files
*.swp

# doit files
*.bak
*.dat
*.dir
